*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    background-color: aquamarine;
    width: 30vw;
    margin: 0 auto;
    border-radius: 50px;
    margin-bottom: 30px;
}

.slideImg .container{
    width: 100vw;
    display: flex;
}

.slideImg .container .panel{
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 1;
    margin: 10px;
    position: relative;
    transition: flex 2s;
}

.container .panel h3{
    font-size: 24px;
    margin: 0px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.411);
    padding: 2px 20px;
    border-radius: 15px;
}

.container .panel.active{
    flex: 10;
}

.container .panel.active h3{
    opacity: 1;
    transition: opacity 1s 1s;
}

/* Ẩn bớt phần tử khi quá màn hình */
@media (max-width: 720px) {
    .panel:nth-of-type(4),
    .panel:nth-of-type(5){
        display: none;
    }

}